@import 'base/variables';

@import 'components/map';
@import 'components/map-container';
@import 'components/points';
@import 'components/hover-popup';
@import 'components/side-nav';
@import 'components/nav-item';
@import 'components/nav';
@import 'components/landing-page';
@import 'components/landing';
@import 'components/layer-checkbox';
@import 'components/layer-list';
@import 'components/card';
@import 'components/card-list';
@import 'components/project-panel';
@import 'components/link';
@import 'components/loading-screen';

body {
    font-family: Georgia;
    background: $page-background-color;
    padding: 0;
    margin: 0;
}

a {
    color: $link-color;
    text-decoration: none;
    padding: 1rem;
}

button {
    cursor: pointer;
}


