node_modules
npm-debug.log
.DS_Store
*.swp
app/data/build/*.shp
app/data/build/*.dbf
app/data/build/*.prj
app/data/build/*.shx
data/
app/creds/*
tmp/
server/creds
config/*.env
*notes*
NFLData.json
*.log
server_copy.js
