$page-overlay-background-color: rgba(0,0,0,0.6);
$button-background-color: rgba(100,100,100,0.8);
$landing-text-color: lightgrey;

$page-background-color: #551A8B;
$purple-color: #551A8B;
$purple-color-with-opacity: rgba(85, 26, 139, 0.8);
/*$cyan: #96d7ff;*/
$cyan: #00afc3;
$dark-cyan: #00404a;
$some-other-purple: #7a0099;
$link-color: #96d7ff;
$body-font-color: lightgray;
