// $main-font: 'Raleway-medium', sans-serif;
// $main-font-black: 'Raleway-black', sans-serif;
$display-font: 'Norwester', sans-serif;
$main-font: 'Montserrat', sans-serif;
$main-font-weight-light: 200;
$main-font-weight-regular: 400;
$main-font-weight-black: 900;


$page-overlay-background-color: rgba(0,0,0,0.6);
$button-background-color: rgba(100,100,100,0.8);
$landing-text-color: lightgrey;
$dark-background-color: rgba(40, 40, 40, 1);
$page-background-color: #F4F4F4;
$background-color: #79BD8F;
$purple-color: #551A8B;
$purple-color-with-opacity: rgba(85, 26, 139, 0.8);
/*$cyan: #96d7ff;*/

/* COLOR SCHEMES */
$cyan: #00afc3;
$dark-cyan: #00404a;
$some-other-purple: #7a0099;
$link-color: #96d7ff;
$body-font-color: lightgray;

$pheadra-red: #FF6138;
$pheadra-yellow: #FFFF9D;
$pheadra-light-green: #BEEB9F;
$pheadra-green: #79BD8F;
$pheadra-blue: #00A388;

$sandy-green: #002F2F;
$sandy-blue: #046380;
$sandy-white: #EFECCA;
$sandy-brown: #A7A37E;
$sandy-yellow: #E6E2AF;

$dark-blue: #0F5284;
// $dark-blue: #074c00;
$light-gray: #F3F2F0;
$dark-green: #021700;
$light-green: #074c00;


/* ELEMENT STYLES */
$page-background-color: $light-gray;
$dark-text-color: $dark-blue;
$light-text-color: white;
$main-text-color: $dark-green;
$primary-color: $light-green;
$primary-border: 4px solid $primary-color;
$thin-border: 2px solid $primary-color;
$secondary-color: $light-green;
$active-color: #50E3C2;
$inactive-color: #B8E986;

$nav-height: 60px;



