$main-font: sans-serif;
$page-overlay-background-color: rgba(0,0,0,0.6);
$button-background-color: rgba(100,100,100,0.8);
$landing-text-color: lightgrey;
$dark-background-color: rgba(40, 40, 40, 1);
$page-background-color: #551A8B;
$background-color: #79BD8F;
$purple-color: #551A8B;
$purple-color-with-opacity: rgba(85, 26, 139, 0.8);
/*$cyan: #96d7ff;*/
$cyan: #00afc3;
$dark-cyan: #00404a;
$some-other-purple: #7a0099;
$link-color: #96d7ff;
$body-font-color: lightgray;

$pheadra-red: #FF6138;
$pheadra-yellow: #FFFF9D;
$pheadra-light-green: #BEEB9F;
$pheadra-green: #79BD8F;
$pheadra-blue: #00A388;

$sandy-green: #002F2F;
$sandy-blue: #046380;
$sandy-white: #EFECCA;
$sandy-brown: #A7A37E;
$sandy-yellow: #E6E2AF;

