.impact-container {
    position: fixed;
    overflow-y: scroll;
    z-index:100;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;

    &.open {
        display: flex;
        opacity: 1;
        visibility: visible;
    }

    &.closed {
        visibility: none;
        opacity: 0;
        pointer-events: none;
    }
}


.impact {
    position: absolute;
    background-color: $sandy-blue;
    width: 80vw;
    top: 100px;

    .light-button {
        float: right;
        width: 25%;
        margin: 1rem;
    }

    transition: all 0.5s ease-in-out;

    .impact-content {
        padding: 1rem;
    }

    .back-button {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
    }

    &.open {
        opacity: 1;
        visibility: visible;
        margin-top: 0px;
    }

    &.closed {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        margin-top: 100px;
    }

    color: white;

    h1, h2, h3, p {
        color: white;
    }

    .impact-list {
        padding: 0;
        margin: 0;


        .impact-item {
            background-color: $sandy-white;
            position: relative;
            list-style: none;
            padding: 0.5rem;
            margin: 0.5rem 0;
            display: flex;
            align-items: center;

            button {
                position: absolute;
                top: 0;
                right: 0;
            }
            input {
                width: 30px;
            }
            &>div {
                flex-basis: 50%;
                padding: 0.3rem;

                &:last-child {
                    // border-left: 1px solid $sandy-blue;
                }
            }

            h3, p, span {
                color: $sandy-blue;
            }
        }
    }
}
