.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
    background-color: black;

    img {
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        margin: auto; 
        min-width: 50%;
        min-height: 50%;
        opacity: 0.5;
    }
}

.full-page {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.landing-p2 {
    background-color: white;

    div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button {
        padding: 2rem;
        border: 1px solid black;
        width: 100%;
        background-color: rgba(240, 240, 240, 1);
    }
}

.landing {
    /*h1, p {*/
        /*color: $landing-text-color;*/
        /*padding-left: 1rem;*/
        /*padding-right: 1rem;*/
    /*}*/
}

.landing-title {
    color: $landing-text-color;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem 0 2rem;
    
    h1 {
        margin: 0;
    }
    p {
        margin-top: 10px;
    }
}
