.landing {
    .full-height {
        height: 100vh;
    }

    h1 {
        font-family: $display-font;
        font-weight: normal;
        font-size: 4rem;
        // letter-spacing: 2pt;
        color: $light-text-color;
    }

    .landing-page {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100vw;
        height: 100vh;
        padding: 4rem;
        background: url('/images/ricardo-gomez-angel-215895.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        z-index: -1;

    }

    .centered {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .bg-overlay {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        z-index: -1;
    }
    .bg {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: url('/images/ricardo-gomez-angel-215895.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        z-index: -1;
    }

    .logo {
        max-width: 400px;
        padding-right: 1rem;
        border-right: 4px solid blue;
    }

    p {
        // margin-left: 1rem;
        color: $light-text-color;
        font-size: 1.4rem;
        // letter-spacing: 2pt;
    }

    .button {
        // width: 100%;
        // height: 100%;
        // flex-grow: 0;
        // flex-shrink: 0;
    }

    #learn-button {
        background: url('/images/learn-button.png');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    #explore-button {
        background: url('/images/explore-button.png');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    #engage-button {
        background: url('/images/engage-button.png');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    ul {
        list-style: none;
        // margin: 2rem;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        // background: linear-gradient(45deg, #90D7CC, #C7E690);

        .middle-item {
            margin-left: 2rem;
            margin-right: 2rem;
        }

        // li:nth-child(1) {
        //     background: linear-gradient(45deg, #85E2D4, #B5DC8F);
        // }
        // li:nth-child(2) {
        //     background: linear-gradient(45deg, #90D7CC, #B5DC8F);
        // }
        // li:nth-child(3) {
        //     background: linear-gradient(45deg, #90D7CC, #C7E690);
        // }

        li {
            // margin-top: 1rem;
            // background: linear-gradient(45deg, #ffffc9, $primary-color);
            width: 250px;
            height: 250px;
            // min-height: 250px;
            border-radius: 10px;
            // margin: 2rem;

            a {
                display: flex;
                flex-direction: column;
                // align-items: center;
                padding: 2rem;
                h2 {
                    flex: 1 1 30%;
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    // letter-spacing: 2pt;
                    font-family: $display-font;
                    color: $light-text-color;
                    margin: 0;
                }
                p {
                    flex: 1 1 50%;
                    font-size: 0.9rem;
                    color: black;
                }
            }
        }
    }
}

.landing {
    @media (min-width: 1200px) {
        .landing-page {
            padding: 4 16rem;
        }
    }
    @media (min-width: 801px) and (max-width: 1199px) {
        .landing-page {
            ul {
                li {
                    width: 200px;
                    height: 200px;

                    h2, p {
                        margin: 0;
                    }
                }
            }

        }
    }

    @media (max-width: 800px) {
        .landing-page {
            ul {
                li {
                    width: 200px;
                    height: 200px;

                    h2, p {
                        margin: 0;
                    }
                }
            }
        }
    }
}
