.menu {
    position: fixed;
    background-color: black;
    top: 0;
    right: -200px;
    bottom: 0;
    z-index: 50;
    width: 200px;

    button {
        background-color: white;
        color: black;
    }

    .close-menu-btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
    }

    p {
        color: white;
    }
    /*transition: right 0.5s;*/
}
