.project-list {
    // position: absolute;
    // top: 50px;
    // left: 0;
    height: auto;
    padding: 0;
    margin: 0;
    // max-width: 200px;

    li {
        cursor: pointer;
        transition: all 0.3s;
        font-size: 0.9rem;
        list-style: none;
        margin: 0.5rem;
        padding: 0.5rem;
        background-color: $sandy-white;
        color: $sandy-blue;
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
            color: $sandy-blue;
            flex-basis: 50%;
        }
    }
    li:hover {
        color: $sandy-green;
    }
}
