@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.side-nav {
    /*background-color: rgba(120, 120, 120, 1);*/
    @include linearGradient($purple-color, black);
    color: lightgrey;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 300px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    transition: right 0.5s;

    p {
        padding: 1rem 1rem 1rem 1rem;
        margin: 0;
    }

    .menu-item {
        cursor: pointer;
        border-bottom: 1px solid $purple-color-with-opacity;
        transition: all 0.5s;
    }
    .menu-item:hover {
        background-color: white;
        color: $purple-color;
        /*opacity: 0.5;*/
    }
    .menu-header {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    img {
        margin-left: 0.5rem;
    }

    transition: left 0.3s;

    .menu-back-btn {
        position: absolute;
        color: white;
        border: none;
        background: transparent;
        font-size: 12pt;
    }
}


