.side-nav {
    background-color: rgba(120, 120, 120, 1);
    color: lightgrey;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 300px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    transition: right 0.5s;

    p {
        padding: 1rem 1rem 1rem 1rem;
        margin: 0;
    }

    .menu-item {
        cursor: pointer;
        border: 1px solid dimgrey;
    }
    .menu-item:hover {
        opacity: 0.5;
    }
    .menu-header {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    img {
        margin-left: 0.5rem;
    }

    transition: left 0.3s;

    .menu-back-btn {
        position: absolute;
        color: white;
        border: none;
        background: transparent;
        font-size: 12pt;
    }
}


