.slideshow {
    .slideshow-page {
        padding-top: 60px;

        .bg-overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(30, 30, 30, 0.5);
        }

        h1, h2, h3, h4, p {
            color: $light-text-color;
        }

        p {
            font-size: 1.4rem;
            font-weight: $main-font-weight-black;
        }

    }

    .loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: black;
    }

    .hoverable-text {
        color: $active-color;
        cursor: pointer;
    }

    .slideshow-popup {
        position: absolute;
        background-color: rgba(230, 230, 230, 0.9);
        border-radius: 10px;
        h1, h2, h3, h4, p {
            color: black;
            text-align: center;
        }
        img {
            max-width: 400px;
            max-height: 400px;
            border-radius: 10px;
        }
    }

    .arrow {
        position: absolute;
        height: 30px;
        cursor: pointer;
        &.next {
            top: 50%;
            right: 10px;
        }

        &.last {
            top: 45%;
            left: 10px;
        }
    }

    .page-animation-enter {
        opacity: 1;
    }

    .page-animation-leave {
        opacity: 0;
    }
}
