.case-study-container {
    background-color: $page-background-color;

    .height-80 {
        height: 80vh !important;
    }
    .full-height {
        height: 100vh !important;
    }

    .white {
        background-color: white;
    }

    .two-column {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 4rem;

        .left-col {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            flex: 1 1 30%;
            height: 100%;
            padding-right: 1rem;
        }

        .right-col {
            padding-left: 1rem;
            flex: 1 0 70%;
            height: 100%;
            position: relative;
        }
    }

    .section-padding {
        padding: 4rem;
        height: 100%;
        width: 100%;
        position: relative;
    }

    .case-study-section {
        height: 60vh;
        position: relative;
    }

    .centered {
        // display: flex;
        max-width: 1200px;
        // padding: 3vw 10vh;
        margin: 0 auto;
    }

    .case-study-story-intro {
        padding: 0 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 14pt;

        }
    }

    .video-wrapper {
        position: relative;
        // height: 100%;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
        width: 100%;
    }
    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        // max-width: 1080px;
        height: 100%;
        max-height: 60vh;
    }

    .arrow {
        position: absolute;
        top: 45%;
        cursor: pointer;

        &.left {
            left: 10px;
        }

        &.right {
            right: 10px;

        }
    }

    .case-study-story {
        padding: 4rem;
        height: 100vh;
        display: flex;

        .case-study-map-container {
            width: 100%;
            height: 100%;
            border: 4px solid $dark-blue;
        }

        .floating-text {
            position: absolute;
            max-width: 400px;
            p {
                font-family: $main-font-black;
            }
        }

        .case-study-popup {
            max-width: 500px;
            position: absolute;
            padding: 1rem;
            z-index: 100;
            background-color: $dark-blue;
            box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);

            h1, h2, h3, p {
                color: $light-text-color;
            }

            p {
                font-size: 9pt;
            }

        }
    }
}
