.case-study-container {
    background-color: $page-background-color;

    h1 {
        color: $light-text-color;
        font-size: 1.8rem;
        letter-spacing: 2pt;
        margin: 0;
    }
    h2 {
        color: $light-text-color;
        font-size: 1.5rem;
        letter-spacing: 2pt;
        margin: 0;
    }
    p {
        color: $light-text-color;
        font-size: 0.9rem;
        // letter-spacing: 2pt;
    }

    .height-80 {
        height: 80vh !important;
    }
    .full-height {
        height: 100vh !important;
    }

    .white {
        background-color: white;
    }

    .case-study-story-list {
        display: flex;
        flex-direction: column;
        list-style-type: none;

        .case-study-icon {

            &:hover {
                opacity: 0.7;
            }
            &.active {
                p {
                    color: $active-color;
                }
            }
            cursor: pointer;
            display: flex;
            // width: 100%;
            justify-content: flex-end;
            margin-right: 10px;
            align-items: center;
            img {
                flex: 0 0 50px;
                width: 50px;
                height: 50px;
            }
            p {
                flex: 1 1 100%;
            }
        }

        li {
            color: $light-text-color;
            border: $thin-border;
            border-radius: 25px;
            margin: 0 1rem;
            padding: 0.5rem 1rem;
            cursor: pointer;
            font-size: 0.7rem;

            &.active {
                background-color: $primary-color;
                color: $light-text-color;

            }
        }

    }

    .two-column {
        display: flex;
        flex-direction: row;
        justify-content: center;
        // padding: 4rem;
        height: 100%;

        .left-col {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            flex: 1 1 30%;
            height: 100%;
            padding-right: 1rem;
        }

        .right-col {
            padding-left: 1rem;
            flex: 1 0 70%;
            height: 100%;
            position: relative;
        }
    }

    .case-study-section {
        position: relative;
        height: 60vh;
        position: relative;
        padding: 4rem;
    }


    .case-study-section-dark {
        @extend .case-study-section;
        background-color: rgba(20, 20, 20, 1);
        h1, h2, h3, p {
            color: $light-text-color;
        }
    }

    .story-section {
        display: flex;
        flex-direction: column;
        padding: 0 !important;

        .row {
            display: flex;
            flex-direction: row;
        }

        .center {
            justify-content: center;
        }

        .row-20 {
            flex: 0 0 20%;
        }

        .row-80 {
            flex: 0 0 80%;
        }

        .col-20 {
            flex: 0 0 20%;
        }

        .col-80 {
            flex: 0 1 80%;
        }

        .top {
            flex: 0 0 50%;
            padding: 2rem;
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .bottom {
            flex: 0 0 50%;
            position: relative;
            z-index: 2;
        }

        .story-header {
            display: flex;
            align-items: center;

            h1 {
                font-family: $display-font;
                text-align: right;
            }
            p {
                margin-left: 10px;
            }
        }

        .node-text {
            position: relative;
            padding: 2rem 0;
            height: 80%;
            borderRadius: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 10px;

            .node-content {
                height: 100%;
                overflow: auto;
            }

            .node-blurred-bg {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(216, 216, 216, 0.4);
                z-index: -1;
                filter: blur(5px);

            }
            .arrow {
                cursor: pointer;
                margin: 1rem;
                height: 30px;
            }

            h2 {
                font-family: $display-font;
            }
            p {
                font-size: 0.7rem;
            }
        }

        .node-container {
        }
    }

    .flex-full-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .centered {
        // display: flex;
        max-width: 1200px;
        // padding: 3vw 10vh;
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }

    .bg-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, $dark-blue, $dark-green);
        opacity: 0.7;
        z-index: 1;
    }

    .case-study-story-layout {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
    }
    .case-study-story-intro {
        // padding: 0 4rem;
        display: flex;
        flex: 0 0 50%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        h1 {
            font-size: 1.8rem;
            letter-spacing: 2pt;
            margin: 0;
            padding: 0;
        }
    }

    .video-wrapper {
        position: relative;
        // height: 100%;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
        width: 100%;
    }
    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        // max-width: 1080px;
        height: 100%;
        max-height: 60vh;
    }

    // .arrow {
    //     position: absolute;
    //     top: 45%;
    //     cursor: pointer;
    //
    //     &.left {
    //         left: 10px;
    //     }
    //
    //     &.right {
    //         right: 10px;
    //
    //     }
    // }

    .case-study-story {
        // padding-bottom: 4rem;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;

        .case-study-map-container {
            width: 100%;
            height: 100%;
            border: 4px solid $primary-color;
            position: relative;
        }

        .floating-text {
            position: absolute;
            max-width: 400px;
            p {
                font-family: $main-font;
                font-weight: $main-font-weight-black;
                color: black;
            }

        }
        .floating-image {
            position: absolute;
            bottom: 10px;
            left: 40px;
            max-width: 200px;
        }


        .case-study-popup {
            max-width: 500px;
            position: fixed;
            padding: 1rem;
            z-index: 100;
            background-color: $primary-color;
            box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
            border-radius: 25px;
            pointer-events: none;

            h1, h2, h3, h4, p {
                color: $light-text-color;
            }
            h1 {
                font-size: 1.1rem;
                margin: 0;
                padding: 0;
            }
            p {
                font-size: 0.7rem;
            }


            .property-field {
                display: flex;
                align-items: center;
                justify-content: space-around;

                h4 {
                    flex: 1 1 50%;
                    font-size: 0.7rem;
                    margin: 0;
                    padding: 0;
                }
                p {
                    text-align: right;
                    flex: 1 1 50%;
                    font-size: 0.7rem;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}

.case-study-container {
    @media (min-width: 1200px) {
        .case-study-section {
            padding: 4rem 20rem;
        }

        .story-section {
            .top {
                padding: 2rem 16rem;
            }
        }

    }

    @media(min-width: 801px) and (max-width: 1199px) {
        .story-section {
            .top {
                h1 {
                    font-size: 1.4rem;
                }
                h2 {
                    font-size: 1rem;
                }
                p {
                    font-size: 0.9rem;
                }

                .node-text {
                    p {
                        font-size: 0.7rem;
                    }
                }
                padding: 2rem 8rem;
            }
        }

        .case-study-story-list {
            .case-study-icon {
                img {
                    flex: 0 0 40px;
                    width: 40px;
                    height: 40px;
                }
            }
        }

    }

    @media (max-width: 800px) {
        h1 {
            font-size: 1.2rem;
        }
        h2 {
            font-size: 1rem;
        }
        p {
            font-size: 0.8rem;
        }
        .story-header {
            h1 {
                font-size: 0.9rem;
            }
        }

        .story-section {
            .top {
                padding: 1rem;
            }
        }

        .case-study-story-list {
            .case-study-icon {
                img {
                    flex: 0 0 40px;
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}

