.project-details {
    h1, h2, h3, h4, p {
        color: $light-text-color;
    }
    margin-top: 20px;
    position: relative;


    .title {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
    }
    .back-button {
        position: relative;
    }

    .content {
        padding: 0 1rem;
        h4 {
            font-size: 0.9rem;
        }
        p {
            font-size: 0.8rem;
        }
    }
}
