.categories-list {
    padding: 1rem 0;

    .intro-text {
        padding: 0 1rem;
    }

    h1, h2, h3, h4, p {
        color: $light-text-color;
    }

    .category {
        // margin: 0.3rem 0rem;

        .category-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // border: 2px solid $primary-color;
            // border-radius: 25px;
            padding: 0.5rem 1rem;

            &:hover {
                background-color: $active-color;
            }

            h3, p {
                margin: 0;
            }

            h3 {
                font-family: $main-font;
                font-weight: $main-font-weight-black;
                font-size: 0.9rem;
                color: $light-text-color;
            }

            img {
                width: 12px;
                height: 12px;
            }
        }

        &.active {
            .category-title {
                background-color: $active-color;
                h3, p {
                    color: $light-text-color;
                }
            }
        }

        ul {
            padding: 0 1rem;
        }


        li {
            padding: 0.2rem 1rem;
            color: $light-text-color;
            font-size: 0.8rem;

            &:hover {
                background-color: $active-color;
                // color: $light;
            }

            &.active {
                // background-color: white;
                color: black;
            }
        }
    }
    ul {
        padding: 0;
        list-style: none;
        cursor: pointer;
    }

    li {
        // padding: 1rem;
    }
}
