.categories-list {
    background-color: $page-background-color;
    padding: 1rem;

    .category {
        margin: 0.3rem 0rem;

        .category-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 2px solid $primary-color;
            border-radius: 25px;
            padding: 0.5rem 1rem;

            &:hover {
                opacity: 0.5;
            }

            h3, p {
                margin: 0;
            }

            h3 {
                font-family: 'Raleway-light';
                font-size: 0.9rem;
                color: $primary-color;
            }

            img {
                width: 12px;
                height: 12px;
            }
        }

        &.active {
            .category-title {
                background-color: $primary-color;
                h3, p {
                    color: $light-text-color;
                }
            }
        }


        li {
            padding: 0.2rem 1rem;
            color: $primary-color;
            font-size: 0.8rem;

            &:hover {
                background-color: white;
                color: black;
            }

            &.active {
                // background-color: white;
                color: black;
            }
        }
    }
    ul {
        padding: 0;
        list-style: none;
        cursor: pointer;
    }

    li {
        // padding: 1rem;
    }
}
